 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 653px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1254px;
  margin: 40px -114px 40px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 573px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 15px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 119px 45px 0 15px;
}

.u-section-1 .u-image-1 {
  width: 673px;
  --top-left-radius: 500px;
  --bottom-left-radius: 500px;
  left: auto;
  right: 15px;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  font-size: 3rem;
  margin: 50px 673px 0 15px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 51px auto 0 15px;
  padding: 20px 47px 20px 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 100px;
    margin-left: 200px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 520px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 35px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 374px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 764px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 413px;
    margin-left: 31px;
  }

  .u-section-1 .u-image-1 {
    width: 430px;
    right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    line-height: 1.29;
    margin-top: 41px;
    margin-right: 441px;
    margin-left: 15px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 40px;
    margin-left: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 60px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 264px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 673px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -527px;
    margin-right: 276px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: 259px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    left: -333px;
    right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 46px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 60px;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 537px;
}

.u-section-2 .u-list-1 {
  width: 1070px;
  margin: 79px auto 41px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 417px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  margin: 0 30px;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 18px 0 0 30px;
}

.u-section-2 .u-btn-1 {
  font-size: 2.25rem;
}

.u-section-2 .u-btn-2 {
  font-size: 2.25rem;
}

.u-section-2 .u-btn-3 {
  font-size: 2.25rem;
}

.u-section-2 .u-btn-4 {
  font-size: 2.25rem;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-3 {
  margin: 0 30px;
}

.u-section-2 .u-text-4 {
  font-size: 2.25rem;
  margin: 18px 0 0 30px;
}

.u-section-2 .u-btn-5 {
  font-size: 2.25rem;
}

.u-section-2 .u-btn-6 {
  font-size: 2.25rem;
}

.u-section-2 .u-btn-7 {
  font-size: 2.25rem;
}

.u-section-2 .u-btn-8 {
  font-size: 2.25rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 366px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 374px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-btn-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-btn-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-btn-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-2 .u-btn-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-btn-6 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-btn-7 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-btn-8 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    margin-right: -20px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    margin-right: -20px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1596px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 72px auto 0;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 34px 103px 0;
}

.u-section-3 .u-image-1 {
  height: 792px;
  margin-top: 608px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-1 {
  height: 1138px;
  width: 1140px;
  grid-gap: 17px;
  margin: -1348px auto 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  background-image: none;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 72px auto 60px;
  padding: 20px 47px 20px 46px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1800px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 708px;
  }

  .u-section-3 .u-gallery-1 {
    height: 938px;
    width: 940px;
    margin-top: -1424px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-btn-1 {
    align-self: center;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 2373px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 53px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 53px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 1320px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1822px;
    width: 720px;
    margin-top: -2040px;
    margin-left: auto;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-btn-1 {
    margin-top: 99px;
    margin-right: calc(((100% - 720px) / 2)  + 262px);
    margin-bottom: 52px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 5821px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 4756px;
  }

  .u-section-3 .u-gallery-1 {
    height: 4986px;
    width: 540px;
    margin-top: -5472px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2) + 82px);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 3730px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-top: 51px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: 2691px;
  }

  .u-section-3 .u-gallery-1 {
    height: 3190px;
    width: 340px;
    margin-top: -3408px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
  }
} .u-section-4 {
  background-image: none;
  min-height: 856px;
}

.u-section-4 .u-image-1 {
  height: 856px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -752px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 648px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 648px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 21px auto 0 0;
}

.u-section-4 .u-form-1 {
  height: 387px;
  background-image: none;
  width: 415px;
  margin: 19px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 742px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 534px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 534px;
  }

  .u-section-4 .u-form-1 {
    width: 332px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 856px;
  }

  .u-section-4 .u-image-1 {
    height: 937px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -893px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1116px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1287px;
  }

  .u-section-4 .u-image-1 {
    height: 1520px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1478px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    line-height: 1.24;
  }

  .u-section-4 .u-form-1 {
    width: 320px;
  }
}