 .u-section-1 {
  background-image: url("images/bg6.png");
  background-position: 50% 100%;
  min-height: 749px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 59px 0 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 629px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 60px 50px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 95px 0 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 61px auto 0 0;
  padding: 20px 47px 20px 46px;
}

.u-section-1 .u-image-1 {
  min-height: 629px;
  background-image: url("images/image-Recovered-min.png");
  background-position: 0% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 28px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 660px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 35px;
  }

  .u-section-1 .u-image-1 {
    min-height: 519px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 506px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 491px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 30px 30px 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 491px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 716px;
    background-position: 27.43% 100%;
    background-size: auto 120%;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 60px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 479px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 532px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 346px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 998px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 92px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 41px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 705px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 30px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 0 30px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: 0 30px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  margin: 0 30px 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-2 .u-text-10 {
  font-size: 1.5rem;
  margin: 0 30px 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-2 .u-text-12 {
  font-size: 1.5rem;
  margin: 0 30px 0 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 581px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1001px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: url("images/6776677.png");
  background-position: 50% 0%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1252px;
}

.u-section-3 .u-group-1 {
  width: 732px;
  min-height: 906px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 124px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-3 .u-image-1 {
  width: 206px;
  height: 206px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 72px auto 0;
}

.u-section-3 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 49px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 422px;
  margin: 19px auto 60px 347px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 126px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 14px 30px 30px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-transform: uppercase;
  text-align: center;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 0 auto;
  padding: 20px 54px 20px 53px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-btn-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1235px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-left: auto;
    margin-bottom: 51px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 5102px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 56px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 450px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  margin: 0 -10px;
}

.u-section-4 .u-text-2 {
  margin: 30px 15px 0;
}

.u-section-4 .u-text-3 {
  font-size: 3rem;
  font-weight: 600;
  margin: 125px auto 0 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 68px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 625px;
  grid-gap: 0px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 24px;
}

.u-section-4 .u-text-4 {
  margin: 0 16px 0 225px;
}

.u-section-4 .u-image-1 {
  height: 132px;
  width: 210px;
  margin: -132px 883px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 24px;
}

.u-section-4 .u-text-5 {
  margin: 0 16px 0 225px;
}

.u-section-4 .u-image-2 {
  height: 132px;
  width: 210px;
  margin: -132px 883px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 24px;
}

.u-section-4 .u-text-6 {
  margin: 0 16px 0 225px;
}

.u-section-4 .u-image-3 {
  height: 132px;
  width: 210px;
  margin: -132px 883px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 3rem;
  font-weight: 600;
  margin: 125px auto 0 0;
}

.u-section-4 .u-list-2 {
  grid-template-rows: repeat(1, auto);
  margin-top: 68px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  min-height: 625px;
  grid-gap: 0px;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-4 .u-image-4 {
  height: 147px;
  width: 173px;
  margin: 0 880px 0 7px;
}

.u-section-4 .u-text-8 {
  margin: -118px 0 0 196px;
}

.u-section-4 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 40px;
}

.u-section-4 .u-image-5 {
  height: 147px;
  width: 173px;
  margin: 0 880px 0 7px;
}

.u-section-4 .u-text-9 {
  margin: -118px 0 0 196px;
}

.u-section-4 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 40px;
}

.u-section-4 .u-image-6 {
  height: 147px;
  width: 173px;
  margin: 0 880px 0 7px;
}

.u-section-4 .u-text-10 {
  margin: -118px 0 0 196px;
}

.u-section-4 .u-text-11 {
  font-size: 3rem;
  font-weight: 600;
  margin: 125px auto 0 0;
}

.u-section-4 .u-list-3 {
  grid-template-rows: repeat(1, auto);
  margin-top: 68px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-3 {
  grid-template-columns: repeat(1, 100%);
  min-height: 625px;
  grid-gap: 0px;
}

.u-section-4 .u-list-item-7 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px 40px;
}

.u-section-4 .u-image-7 {
  height: 131px;
  width: 140px;
  margin: 2px 908px 0 12px;
}

.u-section-4 .u-text-12 {
  margin: -110px 0 0 196px;
}

.u-section-4 .u-list-item-8 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px 40px;
}

.u-section-4 .u-image-8 {
  height: 131px;
  width: 140px;
  margin: 2px 908px 0 12px;
}

.u-section-4 .u-text-13 {
  margin: -110px 0 0 196px;
}

.u-section-4 .u-list-item-9 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-10 {
  padding: 30px 40px;
}

.u-section-4 .u-image-9 {
  height: 131px;
  width: 140px;
  margin: 2px 908px 0 12px;
}

.u-section-4 .u-text-14 {
  margin: -110px 0 0 196px;
}

.u-section-4 .u-text-15 {
  font-size: 3rem;
  font-weight: 600;
  margin: 125px auto 0 0;
}

.u-section-4 .u-list-4 {
  grid-template-rows: repeat(1, auto);
  margin-top: 68px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-4 {
  grid-template-columns: repeat(1, 100%);
  min-height: 625px;
  grid-gap: 0px;
}

.u-section-4 .u-list-item-10 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-11 {
  padding: 30px 40px;
}

.u-section-4 .u-image-10 {
  height: 115px;
  width: 140px;
  margin: 3px 920px 0 0;
}

.u-section-4 .u-text-16 {
  margin: -103px 0 0 196px;
}

.u-section-4 .u-list-item-11 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-12 {
  padding: 30px 40px;
}

.u-section-4 .u-image-11 {
  height: 115px;
  width: 140px;
  margin: 3px 920px 0 0;
}

.u-section-4 .u-text-17 {
  margin: -103px 0 0 196px;
}

.u-section-4 .u-list-item-12 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-13 {
  padding: 30px 40px;
}

.u-section-4 .u-image-12 {
  height: 115px;
  width: 140px;
  margin: 3px 920px 0 0;
}

.u-section-4 .u-text-18 {
  margin: -103px 0 0 196px;
}

.u-section-4 .u-list-5 {
  grid-template-rows: repeat(1, auto);
  margin-top: 306px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-5 {
  grid-template-columns: repeat(1, 100%);
  min-height: 625px;
  grid-gap: 0px;
}

.u-section-4 .u-list-item-13 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-14 {
  padding: 30px 40px;
}

.u-section-4 .u-image-13 {
  height: 129px;
  width: 140px;
  margin: 2px 904px 0 16px;
}

.u-section-4 .u-text-19 {
  margin: -116px 0 0 196px;
}

.u-section-4 .u-list-item-14 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-15 {
  padding: 30px 40px;
}

.u-section-4 .u-image-14 {
  height: 129px;
  width: 140px;
  margin: 2px 904px 0 16px;
}

.u-section-4 .u-text-20 {
  margin: -116px 0 0 196px;
}

.u-section-4 .u-list-item-15 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-16 {
  padding: 30px 40px;
}

.u-section-4 .u-image-15 {
  height: 129px;
  width: 140px;
  margin: 2px 904px 0 16px;
}

.u-section-4 .u-text-21 {
  margin: -116px 0 0 196px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 5023px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1348px;
  }

  .u-section-4 .u-text-1 {
    margin-right: -51px;
    margin-left: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 30px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 41px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
    margin-right: 683px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: -110px;
    margin-right: 0;
    margin-left: 41px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 20px;
    margin-right: 683px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: -110px;
    margin-right: 0;
    margin-left: 41px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 20px;
    margin-right: 683px;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-4 {
    margin-right: 687px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-image-5 {
    margin-right: 687px;
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-image-6 {
    margin-right: 687px;
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-7 {
    margin-right: 720px;
    margin-left: 0;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-image-8 {
    margin-right: 720px;
    margin-left: 0;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-image-9 {
    margin-right: 720px;
    margin-left: 0;
  }

  .u-section-4 .u-text-14 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-4 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-10 {
    margin-right: 720px;
  }

  .u-section-4 .u-text-16 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-image-11 {
    margin-right: 720px;
  }

  .u-section-4 .u-text-17 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-image-12 {
    margin-right: 720px;
  }

  .u-section-4 .u-text-18 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-5 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-13 {
    margin-right: 720px;
    margin-left: 0;
  }

  .u-section-4 .u-text-19 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-image-14 {
    margin-right: 720px;
    margin-left: 0;
  }

  .u-section-4 .u-text-20 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-image-15 {
    margin-right: 720px;
    margin-left: 0;
  }

  .u-section-4 .u-text-21 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 7450px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 692px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 65px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1238px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 22px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 200px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: -299px;
    margin-right: 244px;
    margin-left: 218px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 200px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: -299px;
    margin-right: 244px;
    margin-left: 218px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 22px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 200px;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    margin-top: -299px;
    margin-right: 244px;
    margin-left: 218px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-4 .u-list-2 {
    margin-top: 37px;
  }

  .u-section-4 .u-repeater-2 {
    min-height: 1080px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: 79px;
    margin-left: auto;
  }

  .u-section-4 .u-list-3 {
    margin-top: 81px;
  }

  .u-section-4 .u-repeater-3 {
    min-height: 1038px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-7 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-12 {
    margin-top: 22px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-8 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-13 {
    margin-top: 22px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-9 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-14 {
    margin-top: 22px;
  }

  .u-section-4 .u-text-15 {
    width: auto;
    margin-top: 74px;
    margin-left: auto;
  }

  .u-section-4 .u-list-4 {
    margin-top: 101px;
  }

  .u-section-4 .u-repeater-4 {
    min-height: 993px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-10 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-11 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-12 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-list-5 {
    margin-top: 224px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-repeater-5 {
    min-height: 1032px;
  }

  .u-section-4 .u-container-layout-14 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-13 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-15 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-14 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-16 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-15 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4752px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 15px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
    margin-right: 168px;
    margin-left: 142px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 20px;
    margin-right: 168px;
    margin-left: 142px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 20px;
    margin-right: 168px;
    margin-left: 142px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-13 {
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-14 {
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 10725px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 110px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    margin-top: 81px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1781px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -475px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 22px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -475px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-3 {
    margin-top: -475px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-7 {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-list-2 {
    margin-top: 90px;
  }

  .u-section-4 .u-repeater-2 {
    min-height: 1476px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 80px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-3 {
    margin-top: 91px;
  }

  .u-section-4 .u-repeater-3 {
    min-height: 1472px;
  }

  .u-section-4 .u-text-15 {
    margin-top: 110px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-4 {
    min-height: 1433px;
  }

  .u-section-4 .u-list-5 {
    margin-top: 336px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1512px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 600;
  margin: -799px auto 0 0;
}

.u-section-5 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 758px auto 0;
}

.u-section-5 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 10px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 65px;
  margin-bottom: 60px;
}

.u-section-5 .u-image-1 {
  min-height: 360px;
  background-image: url("images/top-view-hands-holding-tablet.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 360px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  margin: 0;
}

.u-section-5 .u-text-5 {
  margin: 19px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 360px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  margin: 0;
}

.u-section-5 .u-text-7 {
  margin: 19px 0 0;
}

.u-section-5 .u-image-2 {
  min-height: 360px;
  background-image: url("images/homepage-seen-laptop-screen.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  min-height: 360px;
  background-image: url("images/top-view-career-guidance-items-designers.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 360px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-text-8 {
  margin: 0;
}

.u-section-5 .u-text-9 {
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1323px;
  }

  .u-section-5 .u-image-1 {
    min-height: 297px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 297px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 297px;
  }

  .u-section-5 .u-image-2 {
    min-height: 297px;
  }

  .u-section-5 .u-image-3 {
    min-height: 297px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 297px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1751px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -1301px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: 1265px;
  }

  .u-section-5 .u-image-1 {
    min-height: 227px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    min-height: 227px;
  }

  .u-section-5 .u-image-3 {
    min-height: 227px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2393px;
  }

  .u-section-5 .u-image-1 {
    min-height: 341px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-2 {
    min-height: 341px;
    order: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 341px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2506px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -1711px;
    margin-left: -7px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 1674px;
  }

  .u-section-5 .u-image-1 {
    min-height: 215px;
  }

  .u-section-5 .u-image-2 {
    min-height: 215px;
  }

  .u-section-5 .u-image-3 {
    min-height: 215px;
  }
} .u-section-6 {
  background-image: url("images/67876.png");
  background-position: 50% 100%;
  min-height: 712px;
}

.u-section-6 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 60px auto 60px 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/image-7.jpg");
  min-height: 508px;
  background-position: 100% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 586px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 50px 30px;
}

.u-section-6 .u-text-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 0 0 30px;
}

.u-section-6 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 3.75rem;
  margin: 19px 0 0 30px;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 21px auto 0 30px;
  padding: 20px 47px 20px 46px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 484px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-6 .u-image-1 {
    min-height: 419px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 483px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 3rem;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 322px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-6 .u-image-1 {
    min-height: 321px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 526px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-6 .u-image-1 {
    min-height: 466px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 369px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-6 .u-image-1 {
    min-height: 293px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
  }
} .u-section-7 {
  background-image: url("images/bg.jpg");
  background-position: 50% 50%;
  min-height: 658px;
}

.u-section-7 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-7 .u-image-1 {
  min-height: 658px;
  background-image: url("images/top-view-hands-holding-tablet.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 0 28px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 658px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 50px 30px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  margin: 109px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 2px;
  align-self: center;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-align: center;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  background-image: none;
  margin: 67px auto 0 0;
  padding: 20px 48px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 544px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-7 .u-image-1 {
    min-height: 544px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 628px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 849px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-7 .u-image-1 {
    min-height: 505px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 350px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 30px 100px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-text-2 {
    width: auto;
  }

  .u-section-7 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 491px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-7 .u-image-1 {
    min-height: 423px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 322px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-7 .u-image-1 {
    min-height: 340px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 883px;
}

.u-section-8 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-8 .u-list-1 {
  margin-top: 53px;
  margin-bottom: 60px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 582px;
  grid-gap: 30px;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  width: 160px;
  height: 184px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  font-style: italic;
  margin: -184px 0 0 193px;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  margin: 21px 76px 0 193px;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  width: 160px;
  height: 184px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-4 {
  font-size: 1.125rem;
  font-style: italic;
  margin: -184px 0 0 193px;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  margin: 21px 76px 0 193px;
}

.u-section-8 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  width: 160px;
  height: 184px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-6 {
  font-size: 1.125rem;
  font-style: italic;
  margin: -184px 0 0 193px;
}

.u-section-8 .u-text-7 {
  font-weight: 700;
  margin: 21px 76px 0 193px;
}

.u-section-8 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-image-4 {
  width: 160px;
  height: 184px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-8 {
  font-size: 1.125rem;
  font-style: italic;
  margin: -184px 0 0 193px;
}

.u-section-8 .u-text-9 {
  font-weight: 700;
  margin: 21px 76px 0 193px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    min-height: 480px;
  }

  .u-section-8 .u-image-1 {
    width: 126px;
    height: 167px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: -167px;
    margin-left: 154px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 28px;
    margin-right: 0;
    margin-left: 154px;
  }

  .u-section-8 .u-image-2 {
    width: 126px;
    height: 167px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: -167px;
    margin-left: 154px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-top: 28px;
    margin-right: 0;
    margin-left: 154px;
  }

  .u-section-8 .u-image-3 {
    width: 126px;
    height: 167px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-top: -167px;
    margin-left: 154px;
  }

  .u-section-8 .u-text-7 {
    width: auto;
    margin-top: 28px;
    margin-right: 0;
    margin-left: 154px;
  }

  .u-section-8 .u-image-4 {
    width: 126px;
    height: 167px;
  }

  .u-section-8 .u-text-8 {
    width: auto;
    margin-top: -167px;
    margin-left: 154px;
  }

  .u-section-8 .u-text-9 {
    width: auto;
    margin-top: 28px;
    margin-right: 0;
    margin-left: 154px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-8 .u-text-5 {
    margin-left: 0;
  }

  .u-section-8 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-8 .u-text-7 {
    margin-left: 0;
  }

  .u-section-8 .u-text-8 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-8 .u-text-9 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-1 {
    margin-left: auto;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-2 {
    margin-left: auto;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-3 {
    margin-left: auto;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-4 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-9 {
  background-image: url("images/color221.png");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 841px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 558px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 558px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-3 {
  margin: 21px auto 0 0;
}

.u-section-9 .u-form-1 {
  height: 371px;
  background-image: none;
  margin: 19px 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  border-style: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 460px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    background-position: 50.24% 0%;
    background-size: auto 115%;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 1033px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 50px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 166px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }
}